body {
  background:rgb(15,26,18);
  margin:0;
  padding:0;
  font-size:100%;
}

p {
  color:rgb(253,251,252);
  font-family:Georgia, serif;
  font-size:0.875em;
}

html, body, #timer {
  height: 100%;
}

body > #timer {
  height: auto; min-height: 100%;
}

#timer {
  margin:auto;
  margin-top:450px;
  width:70%;
  text-align:center;
  font-size:2.7em;
}

#time_left{
  margin:auto;
  padding-bottom:0.7em;
}

.js-elem{
  cursor:pointer;
}

footer{
  display:block;
  margin:auto;
  font-size:0.7em;
  clear: both;
  position: relative;
  z-index: 10;
  height: 0.7em;
  margin-top: -0.7em;
}